$title_color: rgb(204, 168, 101);
$title_underline_color: darken($title_color, 30%);
$skills_color: rgb(210, 210, 143);



body {
	background-color: #333;
	color: #ccc;
	font-family: sans-serif;
	padding: 0 1rem;
	min-width: 310px;

	h2 {
		color: #444;
		font-size: 4rem;
		font-weight: bold;
		margin: 1rem 0 0 0;
		text-shadow: 1px 1px 5px #1e1e1e;
	}

	h3 {
		color: #777;
	}

	a {
		color: $skills_color;
	}

	// smartphone
	@media (max-width: 879px) {
		main.content {
			.responsiveHeader {
				display: flex;
				justify-content: space-between;

				.skillsLink {
					display: block;
					margin-top: 1.2rem;
					text-decoration: underline;
				}
			}

			.loadingArea {
				text-align: center;
				margin-top: 5rem;
			}
		}
	}

	// computer
	@media (min-width: 880px) {
		.skillsLink {
			display: none;
		}

		main.content {
			display: grid;
			grid-template-columns: 3fr 1fr;
			gap: 2rem;

			.loadingArea {
				margin-left: .4rem;
			}
		}
	}

	main.content {

		.loadingArea {

			.loadingMessage {
				margin-top: 1rem;
			}

			div.loadingGraphic {
				font-size: 11rem;
				color: #393939;

				.spinner {
					animation: spin infinite 2s linear;
				}

				@keyframes spin {
					from {
						transform: rotate(0deg);
					}

					to {
						transform: rotate(360deg);
					}
				}
			}
		}

		section.jobArea {
			.jobs {
				.job {
					background-color: #222;
					margin-bottom: 1rem;
					border-radius: .5rem;
					padding: 1rem;

					.header {
						background-color: #1a1a1a;
						padding: .8rem;
						border-radius: .5rem;
						margin-bottom: .5rem;
						max-width: 30rem;

						.title {
							font-size: 1.3rem;
							margin-bottom: .3rem;

							a {
								text-decoration: none;
								color: $title_color;

								&:hover {
									border-bottom: 1px solid $title_underline_color;
								}
							}
						}

						.company {
							font-style: italic;
						}

						.publicationDate {
							color: rgb(197, 197, 128);
							margin-top: .5rem;
						}

					}

					.skills {
						padding: 0 .5rem;

						.skill {
							padding: .3rem .3rem .3rem 0;
						}
					}
				}
			}
		}

		section.skillArea {

			.skills {
				.skill {
					margin-bottom: .5rem;
				}
			}
		}
	}

}